@using Test.Models
@model Test.Models.MojaClass

@section Headscripts{
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/slick/slick.min.js"></script>
}
<div class="container">
    <div class="row">
        <div class="col-lg-9" id="slika">
            <img class="img-responsive" id="person1" src="~/slike/Person Name CEO.png" style="position:relative; bottom:-150px; right:-30px" />
            <img class="img-responsive" id="person2" src="~/slike/Person Name Director.png" style="position:relative; right:-340px; bottom:-50px" />
            <img class="img-responsive" id="vector" src="~/slike/Vector Smart Object.png" />
            @foreach (var v in Model.lista)
            {
                <div class="text-left" id="tekstInfo">

                    <h4 style="color:white; max-width:20%">@v.naslov</h4>

                </div>

                <a href="@v.url" style="position:relative; right:-520px; bottom:-20px; text-decoration:underline">@v.linkcopy</a>
            }
        </div>
        <div class="col-lg-3" id="slika2">
            <img id="shape17" src="~/slike/Shape17.png" />
            <div class="text-left col-lg-12 why">
                @foreach (var x in Model.lista2)
                {

                    <h3 style="font-family:Arial, Helvetica, sans-serif; color:#656666; font-size:26px; text-align:left; max-width:80%">@x.naslov</h3>
                    <p style="max-width:85%">
                        @x.text
                    </p>
                    <br />
                    <a href="@x.url" style="font-family:Arial, Helvetica, sans-serif; font-size:15px; text-decoration:underline">@x.linkcopy</a>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4 Shape_1">
            <h4>Sectors<br /> we operate in</h4>
            <p>
                Lorem ipsum dolor sit amet, <br />consectetuer adipiscing elit.
                Aenean<br /> commodo ligula eget dolor. Aenean<br /> massa. Cum sociis natoque.
            </p>
        </div>
        <div class="col-md-4 col-lg-4 Shape_2">
            <h4>Challenges<br />we solve</h4>
            <p>
                Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
                Senean commodo ligula ivamus elementum semper nisi. Aenean vulputate eleifend tellus.
            </p>
            <div class="arrow-left"></div>
        </div>
        <div class="col-md-4 col-lg-4 Layer_18">
            <img class="img-responsive refl" src="~/slike/Layer17.png" style="float:right" />
            <h5>Title</h5>
            <a id="title" href="#" style="text-decoration:underline; font-family:Arial, Helvetica, sans-serif; font-size:12px;  color:#00c0f3; text-align:left">Lorem Ipsum</a>
        </div>
    </div>
    <div class="row zadnji" style="max-height:210px">
        <div class="col-md-5 col-lg-5 Shape_3">
            <h4 style="color:white">News &<br />press</h4>
            <div class="text-left col-md-6" style="position:relative; left:-15px">
                <p style="color:white">Lorem ipsum dolor sit amet,<br /> consectetuer adipiscing elit. <br />Aenean commodo.</p>
            </div>
            <div class="text-left col-md-6">
                <p style="color:white">Lorem ipsum dolor sit amet,<br /> consectetuer adipiscing elit. <br />Aenean commodo.</p>
                <a href="#" style="text-decoration:underline; color:white; position:relative; top:-10px"><br />Details</a>
            </div>
        </div>
        <div class="col-md-2 col-lg-2 Shape_4">
            <div class="text-left prof">
                <p style="color:white; font-size:small; position:relative; bottom:-5px">Person name</p>
                <a href="#" style="text-decoration:underline;">Professional</a>
            </div>
        </div>
        <div class="col-md-5 col-lg-5 Shape_5">
            <h4>Meet<br />us</h4>
            <p>Lorem ipsum dolor sit amet,<br /> consectetuer adipiscing elit. <br />Aenean commodo ligula ivamus elementum.</p>
            <div class="arrow-right"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 ">
            <div class="row" style="height:50px"></div>
            <hr class="crta" />
            <h6>London</h6>
            <h6 style="font-size:15px">
                43 XYXXX Street<br />
                London W3eEER4<br />
                T +44 (0)20 0000 0000<br />
                T +44 (0)20 0000 0000
            </h6>
        </div>
        <div class="col-md-3 col-lg-3">
            <div class="row" style="height:50px"></div>
            <hr class="crta" />
            <h6>Manchester</h6>
            <h6 style="font-size:15px">
                43 XYXXX Street<br />
                London W3eEER4<br />
                T +44 (0)20 0000 0000<br />
                T +44 (0)20 0000 0000
            </h6>
        </div>
        <div class="col-md-3 col-lg-3">
            <div class="row" style="height:50px"></div>
            <hr class="crta" />
            <h6>International</h6>
            <a href="#">Brazil</a><br />
            <a href="#">China</a><br />
            <a href="#">India</a>
        </div>
        <div class="col-md-3 col-lg-3">
            <div class="row" style="height:50px"></div>
            <hr class="crta" />
            <h6>Find us</h6>
            <a href="#">Terms & Conditions</a><br />
            <a href="#">Cookies & Conditions </a><br />
            <a href="#">Sitemap</a><br />
            <div class="linkovi">
                <a href="https://www.youtube.com/"><img class="img-responsive" src="~/slike/Shape16.png" /></a>
                <a href="https://www.linkedin.com/" style="position:relative; right:-15px; top: -2px"><img class="img-responsive" src="~/slike/Shape15.png" /></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6" style="text-align:left">
            <h6>Awards</h6>
            <br />
            <div class="slider">
                <div><img src="~/slike/slider/Layer 24-1.png" /></div>
                <div><img src="~/slike/slider/Layer 24.png" /></div>
                <div><img src="~/slike/slider/Layer 25-1.png" /></div>
                <div><img src="~/slike/slider/Layer 25.png" /></div>
                <div><img src="~/slike/slider/Layer 26.png" /></div>
                <div><img src="~/slike/slider/Layer 27-1.png" /></div>
                <div><img src="~/slike/slider/Layer 27.png" /></div>
                <div><img src="~/slike/slider/Layer24.png" /></div>
                <div><img src="~/slike/slider/Layer 27-1.png" /></div>
                <div><img src="~/slike/slider/Layer 27.png" /></div>
                <div><img src="~/slike/slider/Layer24.png" /></div>
                <div><img src="~/slike/slider/Layer 26.png" /></div>
                <div><img src="~/slike/slider/Layer 27-1.png" /></div>
                <div><img src="~/slike/slider/Layer 27.png" /></div>
                <div><img src="~/slike/slider/Layer24.png" /></div>
                <div><img src="~/slike/slider/Layer 27-1.png" /></div>

            </div>
        </div>
        <div class="col-md-6 col-lg-6"></div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.slider').slick({
                infinite: true,
                slidesToShow: 8,
                slidesToScroll: 8
            });
        });
    </script>
}